In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv("../Data/raw_data.csv")

In [3]:
#remove duplicates
raw_data=raw_data.drop_duplicates()
#remove link column
raw_data=raw_data.drop(columns={'cars'})

# remove other model from model type column
raw_data['model'] = raw_data['model'].str.replace("Other Model", "NaN")

# remove other fuel type from fuel type column
raw_data['fuel_type'] = raw_data['fuel_type'].str.replace(r'(, )?Other fuel type', '', regex=True)

#remove "TK" from price values
raw_data['price']=raw_data['price'].str.lstrip("T")
raw_data['price']=raw_data['price'].str.lstrip("k")
raw_data['price']=raw_data['price'].str.replace(",","")
#covert price to int
raw_data['price']=raw_data['price'].astype('int64')

#convert brand,model, condition, transmission, fuel type values to lower letters
raw_data['brand']=raw_data['brand'].str.lower()
raw_data['condition']=raw_data['condition'].str.lower()
raw_data['transmission']=raw_data['transmission'].str.lower()
raw_data['fuel_type']=raw_data['fuel_type'].str.lower()
raw_data['model']=raw_data['model'].str.lower()

#remove "km" from km run
raw_data['kilometers_run']=raw_data['kilometers_run'].str.replace(" ","")
raw_data['kilometers_run']=raw_data['kilometers_run'].str.rstrip("m")
raw_data['kilometers_run']=raw_data['kilometers_run'].str.rstrip("k")

#remove comma and convert to int
raw_data['kilometers_run']=raw_data['kilometers_run'].str.replace(",","")
raw_data['kilometers_run']=raw_data['kilometers_run'].astype('int64')

# print(type(raw_data['year'][0]))
raw_data.head()

,price,brand,model,year,condition,transmission,fuel_type,kilometers_run
0,2450000,toyota,fielder,2020,reconditioned,automatic,hybrid,86000
1,4500000,toyota,noah,2020,reconditioned,automatic,octane,68000
2,2750000,honda,cr-v,2012,used,automatic,octane,92000
3,1800000,toyota,hilux,2009,used,manual,diesel,1
4,1350000,toyota,passo,2010,used,automatic,"octane, lpg",87369

In [4]:
# converting the "NaN" strings as actual np.nan 
raw_data.replace("NaN",np.nan, inplace=True)
raw_data.replace('nan',np.nan,inplace=True)
raw_data.dropna(inplace=True)

# deleting new cars
raw_data = raw_data[raw_data['condition'] != 'new']
raw_data.shape

(3211, 8)

In [5]:
# create a new csv file with the cleaned data
raw_data.to_csv("../Data/cleaned_data_updated.csv", index=False) # remove index from the csv file
raw_data.shape

(3211, 8)